﻿<div ng-app="postcodeApp" ng-controller="postcodeCtrl">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <ng-form name="postcodeForm">
                    <p>Enter postcode:</p>
                    <input type="number" ng-model="postcodeInput" ng-min="100" ng-max="10000" class="form-control" required />
                    <input type="button" class="btn btn-default btn-primary" ng-click="GetSuburbs(postcodeInput)" value="Get Suburbs" ng-disabled="postcodeForm.$invalid" />
                </ng-form>
            </div>
            <div class="col-md-6">
                <div ng-show="suburbs != null && suburbs.length > 0">
                    <p>Showing suburbs for postcode {{postcode}}</p>
                    <ng-form name="suburbForm">
                        <div ng-repeat="item in suburbs track by $index">
                            <ng-form name="updateSuburbForm">
                                <input name="suburb" ng-model="suburbs[$index]" type="text" required class="form-control" />

                            </ng-form>
                        </div>
                        <input type="button" class="btn btn-default btn-primary" ng-click="UpdateSuburbs(postcode,suburbs)" value="Update Suburbs" ng-disabled="suburbForm.$invalid" />
                    </ng-form>
                </div>
                <div ng-show="suburbs != null && suburbs.length == 0">
                    No Suburbs found for postcode {{postcode}}
                </div>
            </div>
        </div>
    </div>
</div>